/* You can add global styles to this file, and also import other style files */
table tr{
border-color:black!important;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #333;
}
.table-bordered {
    border: 1px solid #333;
}